<html>
    <form method="post">
        <input type="number" name="env_cpt" id="env_cpt" value="0" hidden>
        <input type="number" name="volume_cpt" id="volume_cpt" value="0" hidden>
        <input type="number" name="port_cpt" id="port_cpt" value="0" hidden>
        <label for="service_name">Service name :</label>
        <input type="text" name="service_name" id="service_name" required><br>
        <label for="logo_url">Logo url :</label>
        <input type="text" name="logo_url" id="logo_url" required><br>
        <label for="docker_image">docker_image :</label>
        <input type="text" name="docker_image" id="docker_image" required><br>
        <label for="service_link">service_link :</label>
        <input type="text" name="service_link" id="service_link" required><br>
        <label for="service_description">service_description :</label>
        <input type="text" name="service_description" id="service_description" required><br>
        <label for="maintainer_name">maintainer_name :</label>
        <input type="text" name="maintainer_name" id="maintainer_name" required><br>
        <label for="maintainer_github">maintainer_github :</label>
        <input type="text" name="maintainer_github" id="maintainer_github" required><br>
        <div id="ports">
        </div>
        <div id="envvars">
        </div>
        <div id="volumes">
        </div>
        <button type="button" onclick="add_env()">ajouter une variable</button>
        <button type="button" onclick="add_volume()">ajouter un volume</button>
        <button type="button" onclick="add_port()">ajouter un port</button>
        <input type="submit" value="Valider">
    </form>
    
    <script>
        var env_cpt = 0;
        var volume_cpt = 0;
        var port_cpt = 0;
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function add_env() { 
            env_cpt+=1;
            var new_envvar_div = document.createElement('div')
            new_envvar_div.setAttribute('id',`envvar-${env_cpt}`)
            new_envvar_div.innerHTML += 
            `<label for="env_name_${env_cpt}">Nom de variable :</label>
            <input type="text" name="env_name_${env_cpt}" id="env_name_${env_cpt}" required>
            <label for="env_description_${env_cpt}">Description de variable :</label>
            <input type="text" name="env_description_${env_cpt}" id="env_description_${env_cpt}" required>
            <label for="env_hint_${env_cpt}">Hint de variable :</label>
            <input type="text" name="env_hint_${env_cpt}" id="env_hint_${env_cpt}" required>
            <label for="env_default_${env_cpt}">Valeur par défaut de variable :</label>
            <input type="text" name="env_default_${env_cpt}" id="env_default_${env_cpt}" required>
            <button type="button" onclick="remove_env(${env_cpt})">Supprimer</button><br>`;
            document.getElementById("envvars").appendChild(new_envvar_div);
            document.getElementById('env_cpt').value = env_cpt;
        }

        function remove_env(index) {
            var env_to_rm = document.getElementById(`envvar-${index}`);
            var cpt = document.getElementById('env_cpt').value -1;
            env_to_rm.remove();
            document.getElementById('env_cpt').value = cpt;
            update_env_ids();
        }

        function update_env_ids() {
            const env_divs = document.querySelectorAll('[id^="envvar-"]');
            for (let i=0; i < env_divs.length; i++) {
                env_divs[i].setAttribute('id',`envvar-${i+1}`)
                let name_labels        = env_divs[i].querySelectorAll('[for^=env_name]');
                let hint_labels        = env_divs[i].querySelectorAll('[for^=env_hint]');
                let description_labels = env_divs[i].querySelectorAll('[for^=env_description]');
                let default_labels     = env_divs[i].querySelectorAll('[for^=env_default]');
                var labels = [{"liste":name_labels,"for_name":"env_name_"},
                              {"liste":hint_labels,"for_name":"env_hint_"},
                              {"liste":description_labels,"for_name":"env_description_"},
                              {"liste":default_labels,"for_name":"env_default_"}];
                for(let x=0; x < labels.length; x++){
                    for (let j=0; j < labels[x].liste.length; j++) {
                        labels[x].liste[j].setAttribute("for",`${labels[x].for_name}${i+1}`);
                    }
                }
                let name_inputs        = env_divs[i].querySelectorAll('[name^=env_name]');
                let hint_inputs        = env_divs[i].querySelectorAll('[name^=env_hint]');
                let description_inputs = env_divs[i].querySelectorAll('[name^=env_description]');
                let default_inputs     = env_divs[i].querySelectorAll('[name^=env_default]');
                var inputs = [{"liste":name_inputs,"name":"env_name_"},
                              {"liste":hint_inputs,"name":"env_hint_"},
                              {"liste":description_inputs,"name":"env_description_"},
                              {"liste":default_inputs,"name":"env_default_"},]
                for(let x=0; x < inputs.length; x++){
                    for (let j=0; j < inputs[x].liste.length; j++) {
                        inputs[x].liste[j].setAttribute("name",`${inputs[x].name}${i+1}`);
                        inputs[x].liste[j].setAttribute("id",`${inputs[x].name}${i+1}`);
                    }
                }

                let bouton = env_divs[i].querySelector("button");
                bouton.setAttribute("onclick",`remove_env(${i+1})`);
            }
        }

        //////////////////////////////////////////////////////////////////////////////////////////////////////////////

        function add_volume() { 
            volume_cpt+=1;
            var new_volume_div = document.createElement('div')
            new_volume_div.setAttribute("id",`volume-${volume_cpt}`)
            new_volume_div.innerHTML += 
            `<label for="volume_name_${volume_cpt}">Nom du volume :</label>
            <input type="text" name="volume_name_${volume_cpt}" id="volume_name_${volume_cpt}" required>
            <label for="volume_container_${volume_cpt}">Container's directory :</label>
            <input type="text" name="volume_container_${volume_cpt}" id="volume_container_${volume_cpt}" required><br>
            <button type="button" onclick="remove_volume(${volume_cpt})">Supprimer</button><br>`;
            document.getElementById("volumes").appendChild(new_volume_div)
            document.getElementById('volume_cpt').value = volume_cpt;
        }

        function remove_volume(index){
            var vol_to_rm = document.getElementById(`volume-${index}`);
            var cpt = document.getElementById('volume_cpt').value -1;
            vol_to_rm.remove();
            document.getElementById('volume_cpt').value = cpt;
            update_volume_ids();
        }

        
        function update_volume_ids() {
            const volume_divs = document.querySelectorAll('[id^="volume-"]');
            for (let i=0; i < volume_divs.length; i++) {
                volume_divs[i].setAttribute('id',`volume-${i+1}`)
                let name_labels        = volume_divs[i].querySelectorAll('[for^=volume_name_]');
                let container_labels   = volume_divs[i].querySelectorAll('[for^=volume_container_]');
                var labels = [{"liste":name_labels,"for_name":"volume_name_"},
                              {"liste":container_labels,"for_name":"volume_container_"}];
                for(let x=0; x < labels.length; x++){
                    for (let j=0; j < labels[x].liste.length; j++) {
                        labels[x].liste[j].setAttribute("for",`${labels[x].for_name}${i+1}`);
                    }
                }
                let name_inputs        = volume_divs[i].querySelectorAll('[name^=volume_name_]');
                let container_inputs   = volume_divs[i].querySelectorAll('[name^=volume_container_]');
                var inputs = [{"liste":name_inputs,"name":"volume_name_"},
                              {"liste":container_inputs,"name":"volume_container_"},]
                for(let x=0; x < inputs.length; x++){
                    for (let j=0; j < inputs[x].liste.length; j++) {
                        inputs[x].liste[j].setAttribute("name",`${inputs[x].name}${i+1}`);
                        inputs[x].liste[j].setAttribute("id",`${inputs[x].name}${i+1}`);
                    }
                }

                let bouton = volume_divs[i].querySelector("button");
                bouton.setAttribute("onclick",`remove_volume(${i+1})`);
            }
        }

        //////////////////////////////////////////////////////////////////////////////////////////////////////////////

        function add_port() { 
            port_cpt+=1;
            var new_port_div = document.createElement('div')
            new_port_div.innerHTML += 
            `<label for="port_${port_cpt}">Service port :</label>
            <input type="text" name="port_${port_cpt}" id="port_${port_cpt}" required><br>
            <button type="button" onclick="remove_port(${port_cpt})">Supprimer</button><br>`;
            document.getElementById("ports").appendChild(new_port_div)
            document.getElementById('port_cpt').value = port_cpt;
        }
    </script>
</html>
