<html>
    <form method="post">
        <label for="service_name">Service name :</label>
        <input type="text" name="service_name" id="service_name" required><br>
        <label for="logo_url">Logo url :</label>
        <input type="text" name="logo_url" id="logo_url" required><br>
        <label for="docker_image">docker_image :</label>
        <input type="text" name="docker_image" id="docker_image" required><br>
        <label for="service_link">service_link :</label>
        <input type="text" name="service_link" id="service_link" required><br>
        <label for="service_description">service_description :</label>
        <input type="text" name="service_description" id="service_description" required><br>
        <label for="maintainer_name">maintainer_name :</label>
        <input type="text" name="maintainer_name" id="maintainer_name" required><br>
        <label for="maintainer_github">maintainer_github :</label>
        <input type="text" name="maintainer_github" id="maintainer_github" required><br>
        <input type="submit" value="Valider">
    </form>
</html>
